<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FanActuV2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F581E4C11C89A76D006C811F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F581E4DD1C89A76D006C811F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F581E4E81C89A76D006C811F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
